/* Reset some default styles for a consistent base */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  background-color: rgb(231, 204, 204);
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}



